body{
  align-content: center;
}

.dadoUno{
    position:absolute;
    height:100px;
    width:100px;
    top: 300px;
    left : 550px;
    z-index: 1;
}

.dadoDos{
  position:absolute;
  height:100px;
  width:100px;
  top: 300px;
  left : 700px;
  z-index: 1;
}

#btnRandom{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

#btnRandom2{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  display: none;
}